<div class="container">
  <div class="row">
    <div>
      <img
        style="height: 200px"
        src="assets/cropped-white-logo.png"
        class="rounded mx-auto d-block"
        alt="dream big logo with white background"
      />
    </div>
  </div>
  <div class="row">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Elementum facilisis leo
    vel fringilla est ullamcorper. Scelerisque eleifend donec pretium vulputate
    sapien nec. Nec feugiat nisl pretium fusce id. Duis ut diam quam nulla
    porttitor. Scelerisque in dictum non consectetur a erat. Pretium vulputate
    sapien nec sagittis. Ut venenatis tellus in metus vulputate eu scelerisque
    felis. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Netus
    et malesuada fames ac turpis egestas. Nulla aliquet enim tortor at auctor
    urna nunc id. Non pulvinar neque laoreet suspendisse interdum consectetur
    libero id. Massa tincidunt dui ut ornare lectus. Posuere morbi leo urna
    molestie at. Et pharetra pharetra massa massa ultricies mi. Risus at
    ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Id aliquet
    lectus proin nibh nisl. Odio tempor orci dapibus ultrices in iaculis nunc
    sed. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi. Turpis
    nunc eget lorem dolor sed viverra ipsum nunc. Massa massa ultricies mi quis
    hendrerit dolor. Ullamcorper dignissim cras tincidunt lobortis. Amet cursus
    sit amet dictum. Malesuada fames ac turpis egestas maecenas pharetra
    convallis. Ante in nibh mauris cursus mattis molestie a iaculis at. Ut
    ornare lectus sit amet est. At tempor commodo ullamcorper a lacus
    vestibulum. Lorem ipsum dolor sit amet consectetur adipiscing elit
    pellentesque. Ut tristique et egestas quis ipsum suspendisse. Ipsum
    consequat nisl vel pretium lectus quam id leo. Libero enim sed faucibus
    turpis in eu mi. Euismod lacinia at quis risus.
  </div>
</div>
