<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Username</th>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Password</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}} </td>
            <td>{{user.name}}</td>
            <td>********</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mx-1">
                    <i class="fas fa-pen-to-square delete"></i>
                </a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" type="button">
                    <i class="fas fa-trash-alt delete"></i>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
        <tr *ngIf="users.length== 0">
            <td colspan="4" class="text-center">
                No users here. Try creating one.
            </td>
        </tr>
    </tbody>
</table>