<mat-card>
  <mat-card-header>
    <mat-card-title> {{ data.category.name }} </mat-card-title>
  </mat-card-header>
  <img id="dialog-image" mat-card-image alt="Image of a Section">
  <mat-card-content>
    
      <label id="favorite-animal">What's your favorite category?</label>
      <input
        for="favorite-animal"
        [(ngModel)]="data.category.name"
        placeholder="Enter your name"
      />
    
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div>
      <button mat-button (click)="dialogRef.close(data.category.name)">OK</button>
      <button mat-button (click)="dialogRef.close()">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
