<div id="space"></div>

<section class="intro">
    A long time ago, in a university not <br>so far, far away....
  </section>

<section class="logo">
  <img
  src="../assets/cropped-white-logo.png"
  alt="Image" height="200" width="200"
/>
</section>
<!-- DreamBig Intro Text -->
<div id="board">
    <div id="content">
      <p id="title">Episode I</p>
      <p id="subtitle">The Road to employment</p>
      <br>
      <p>Welcome to DreamBig a system created to help students track and progress their journey through university and to get them work ready on the other side.</p>
      <p>The aim of this system is help you have a well balanced portfolio that makes you work ready by the time you finish your course we will also give you hints and tips on what you should be aiming for and when.</p>
      <p>You will be able to create a Star System for each trimester that you can set your goals in, add your activities and then reflect up on these activities..We hope you enjoy the ride.</p>
    </div>
  </div>