<div id="space"></div>

<section class="intro">
  You have begun your journey at univeristy,<br> and to help you achieve your goals,<br> we introduce you to....
  </section>

<section class="logo">
  <img
  src="../assets/cropped-white-logo.png"
  alt="Image" height="200" width="200"
/>
</section>
<!-- DreamBig Intro Text -->
<div id="board">
    <div id="content">
      <p id="title">Episode I</p>
      <p id="subtitle">Maximising Opportunities Along the Journey </p>
      <br>
      <p>Welcome to DreamBig.</p>
      <p>DreamBig will help you with:</p>
      <p>* tracking and progressing your journey through university</p>
      <p>* learning more about your profession and possible career pathways</p>
      <p>* considering and involving yourself in extra-curricular opportunities</p>
      <p>* becoming truly work-ready.</p>
      <p>DreamBig will help you have a well-balanced portfolio that makes you work-ready by the time you finish your course.</p>
      <p>It will give you hints and tips on what you should aim for at the right time. You can also add your own targets..</p>
      <p>Your developing professional identity will be shown as a growing star that changes as you travel through galaxies.</p>
      <p>Each trimester you can set your goals, add activities and reflect on your achievements.</p>
    </div>
  </div>