<div>
    <canvas main #main_canvas width="360" height="240"></canvas>
    <div class="option-toggle">
        <button><i class="fas fa-arrow-left-long"></i></button>
        <canvas option #eyes_canvas></canvas>
        <div color [style.background]="eyeColour">
            <input type="color" [(ngModel)]="eyeColour" (ngModelChange)="drawAvatar($event, '')" />
        </div>
        <button><i class="fas fa-arrow-right-long"></i></button>
    </div>

    <div class="option-toggle">
        <button><i class="fas fa-arrow-left-long"></i></button>
        <canvas option #nose_canvas></canvas>
        <div color [style.background]="skinColour">
            <input type="color" [(ngModel)]="skinColour" (ngModelChange)="drawAvatar('', $event)" />
        </div>
        <button><i class="fas fa-arrow-right-long"></i></button>
    </div>

    <div class="option-toggle">
        <button><i class="fas fa-arrow-left-long"></i></button>
        <canvas option #mouth_canvas></canvas>
        <button><i class="fas fa-arrow-right-long"></i></button>
    </div>
</div>