
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dream-big-ui-primary: mat.define-palette(mat.$indigo-palette);
$dream-big-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dream-big-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dream-big-ui-theme: mat.define-light-theme((
  color: (
    primary: $dream-big-ui-primary,
    accent: $dream-big-ui-accent,
    warn: $dream-big-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dream-big-ui-theme);

/* You can add global styles to this file, and also import other style files */
.rounded-background {
    display: flex;
    background-color: white;

    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 10vh;
    margin-top: 5vh;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(114, 114, 113, 0.5);
    border-radius: 15px;
  }
  .rounded-form {
    padding: 3em;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
