<h1>Categories</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Category</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Description</th>
            <th style="width: 30%">Weight</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.id}} </td>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{category.id}}" class="btn btn-sm btn-primary mx-1">
                    <i class="fas fa-pen-to-square delete"></i>
                </a>
                <button (click)="deleteCategory(category.id)" class="btn btn-sm btn-danger btn-delete-user" type="button">
                    <i class="fas fa-trash-alt delete"></i>
                </button>
            </td>
        </tr>
        <tr *ngIf="!categories">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>