<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="form-group">
        <span>Category scores</span>
        <input
          [(ngModel)]="cat1"
          type="number"
          class="form-control mb-2"
          placeholder="Leadership"
          (input)="redrawStar()"
        />
        <input
          [(ngModel)]="cat2"
          type="number"
          class="form-control mb-2"
          placeholder="Experience"
          (input)="redrawStar()"
        />
        <input
          [(ngModel)]="cat3"
          type="number"
          class="form-control mb-2"
          placeholder="Studying"
          (input)="redrawStar()"
        />
        <input
          [(ngModel)]="cat4"
          type="number"
          class="form-control mb-2"
          placeholder="Networking"
          (input)="redrawStar()"
        />
        <input
          [(ngModel)]="cat5"
          type="number"
          class="form-control mb-2"
          placeholder="Teamwork"
          (input)="redrawStar()"
        />
      </div>
      <span>Star Rotation</span>
      <input [(ngModel)]="rotation" type="number" class="form-control" (input)="redrawStar()"/>
      <div class="form-group">
        <span>Star size</span>
        <input
          [(ngModel)]="starSize"
          type="number"
          class="form-control"
          (input)="redrawStar()"
        />
        <span>Center point of the star (x,y)</span>
        <input
          [(ngModel)]="c_x"
          placeholder="x"
          type="number"
          class="form-control"
          value="400"
          (input)="redrawStar()"
        />
        <input
          [(ngModel)]="c_y"
          placeholder="y"
          type="number"
          class="form-control"
          (input)="redrawStar()"
          value="200"
        />
      </div>
    </div>
    <div class="col">
      <canvas #canvas height="1000" width="1000" (mousemove)="onMouseMove($event)"></canvas>
    </div>
  </div>
</div>
