<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="form-group">
        <span>Category scores</span>
        <input *ngFor="let cat of categories"
          [(ngModel)]="cat.score"
          type="number"
          class="form-control mb-2"
          placeholder="cat.name"
          (input)="redrawStar()"
        />
        <button class="form-control my-2 btn btn-sm btn-primary" (click)="randomiseCatScores()">Randomise</button>
      </div>
      <span>Star Rotation</span>
      <input [(ngModel)]="rotation" type="number" class="form-control" (input)="redrawStar()"/>
      <div class="form-group">
        <span>Star size</span>
        <input
          [(ngModel)]="starSize"
          type="number"
          class="form-control"
          (input)="redrawStar()"
        />
        <span>Center point of the star (x,y)</span>
        <input
          [(ngModel)]="c_x"
          placeholder="x"
          type="number"
          class="form-control"
          value="400"
          (input)="redrawStar()"
        />
        <input
          [(ngModel)]="c_y"
          placeholder="y"
          type="number"
          class="form-control"
          (input)="redrawStar()"
          value="200"
        />
      </div>
    </div>
    <div class="col">
      <canvas #canvas height="1000" width="1000" (mousemove)="onMouseMove($event)"></canvas>
    </div>
  </div>
</div>
