<app-admin-navbar></app-admin-navbar>

  <div class="container-xl mt-4">
    <h2>DreamBig Admin Page</h2>
    <h3>Create Category</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1"
        #name>
      <input type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1"
        #description>
      <input type="text" class="form-control" placeholder="Default Weight" aria-label="Default Weight" aria-describedby="basic-addon1"
        #weight>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
        (click)="addCategory(name.value, description.value, weight.value)">Add Category</button>
    </div>
  </div>
  
  <div class="container-xl mt-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Weight</th>
        </tr>
      </thead>
      <tbody *ngFor="let category of categorys">
        <tr class="table-light">
          <td>{{category.name}}</td>
          <td>{{category.description}}</td>
          <td>{{category.weight}}</td>
      </tbody>
    </table>
  </div>

