

  <div class="container-xl mt-4">
    <h2>DreamBig Admin Page</h2>
    <h3>Create Unit</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Code" aria-label="Unit" aria-describedby="basic-addon1"
        #code>
      <input type="text" class="form-control" placeholder="Name" aria-label="Unit" aria-describedby="basic-addon1"
        #name>
      <input type="text" class="form-control" placeholder="Description" aria-label="Unit" aria-describedby="basic-addon1"
        #description>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
        (click)="addUnit(code.value, name.value, description.value)">Add Unit</button>
    </div>
  </div>
  
  <div class="container-xl mt-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody *ngFor="let unit of units">
        <tr class="table-light">
          <th scope="row">{{unit.code}}</th>
          <td>{{unit.name}}</td>
          <td>{{unit.description}}
          </td>
      </tbody>
    </table>
  </div>

