<nav>
    <img src="assets/DreamBig_logo.png" />
    <div actions>
        <!--Label-->
        <a routerLink="/categorys">{{ label }}</a>
        <!--tools combo box-->  
        <select placeholder="Tools">
            <option value="blah">Tools</option>
        </select>
        <!--notification bell-->
        <button notification-bell>
            <i class="fa-solid fa-bell"></i>
            <div count *ngIf="count">{{ count }}</div>
        </button>
        <!--Profile pic-->
        <button user-avatar>
            <img src="assets/avatar.jpg"/>
        </button>
    </div>
</nav>