<div class="mt-3 container">
  <div class="row mb-1">
    <p>{{ getColour() }}</p>
    <p>{{ getHex() }}</p>
    <div
      class="rounded-div p-1"
      [ngStyle]="{ 'background-color': getColour(), color: getColour() }"
    >
      &nbsp;
    </div>
  </div>
  <div class="row mb-1 p-1 rounded-div" style="background-color: red">
    <input name="red" [(ngModel)]="red" type="range" min="0" max="255" />
  </div>
  <div class="row mb-1 p-1 rounded-div" style="background-color: green">
    <input name="green" [(ngModel)]="green" type="range" min="0" max="255" />
  </div>
  <div class="row mb-1 p-1 rounded-div" style="background-color: blue">
    <input name="blue" [(ngModel)]="blue" type="range" min="0" max="255" />
  </div>
  <div class="row mb-1 p-1 rounded-div" style="background-color: grey">
    <input
      name="alpha"
      [(ngModel)]="alpha"
      type="range"
      min="0.0"
      max="1.0"
      step="0.01"
    />
  </div>
  <button color="primary" mat-raised-button [mat-dialog-close]="getColour()">
    Ok
  </button>
</div>
