<div class="container">
  <div class="row mt-4">
    <div class="col-md-2">
      <div class="form-group">
        <span>Outer : Inner angle ratio</span>
        <div class="row">
          <div class="col-6">
            <input
              [(ngModel)]="outerRatio"
              type="text"
              min="0"
              max="360"
              class="mb-1 form-control"
              (input)="onInputChange()"
            />
          </div>
          <div class="col-6">
            <input
              [(ngModel)]="innerRatio"
              type="text"
              min="0"
              max="360"
              class="mb-1 form-control"
              (input)="onInputChange()"
            />
          </div>
        </div>

        <label class="form-label" for="rotation">Rotation</label>
        <input
          name="rotation"
          [(ngModel)]="rotation"
          type="range"
          min="0"
          max="360"
          class="mb-1"
          (input)="onInputChange()"
        />

        <label for="size">Size</label>
        <input
          name="size"
          [(ngModel)]="starSize"
          type="range"
          (input)="onInputChange()"
        />
        <label for="spikes">Number of Spikes</label>
        <input
          name="spikes"
          class="form-control"
          [(ngModel)]="numSpikes"
          type="number"
          (input)="onInputChange(true)"
          disabled
        />
      </div>
      <div class="form-group mt-2">
        <label class="col" style="margin: auto"
          >Category scores</label
        >

        <div class="row">
          <button
            class="col-4 my-2 btn btn-sm btn-primary"
            (click)="randomise()"
          >
            Random
          </button>
        </div>
        <div *ngFor="let cat of setCategories" class="row">
          <div class="col-2" style="height: 30px; margin: auto">
            <button
              [id]="cat.name"
              disabled
              class="btn"
              [ngStyle]="{ 'background-color': cat.colour }"
            ></button>
          </div>
          <input
            [(ngModel)]="cat.score"
            type="range"
            min="0"
            max="70"
            class="my-2 col"
            placeholder="cat.name"
            (input)="onInputChange()"
          />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <app-star
        [categories]="setCategories"
        [starSize]="starSize"
        [centerPoint]="centerPoint"
        [rotation]="rotation"
        [outerRatio]="outerRatio"
        [innerRatio]="innerRatio"
        [numSpikes]="numSpikes"
      ></app-star>
    </div>
  </div>
</div>
